/* reset */ 
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;} 
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;} 
table{border-collapse:collapse;border-spacing:0;} 
caption,th{text-align:left;font-weight:normal;} 
html,body,fieldset,img,iframe,abbr{border:0;} 
i,cite,em,var,address,dfn{font-style:normal;} 
[hidefocus],summary{outline:0;} 
li{list-style:none;} 
h1,h2,h3,h4,h5,h6,small{font-size:100%;} 
sup,sub{font-size:83%;} 
pre,code,kbd,samp{font-family:inherit;} 
q:before,q:after{content:none;} 
textarea{overflow:auto;resize:none;} 
label,summary{cursor:default;} 
a,button{cursor:pointer;} 
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;} 
del,ins,u,s,a,a:hover{text-decoration:none;} 
body,textarea,input,button,select,keygen,legend{color:#333;outline:0;font:12px/1.14 arial,\5b8b\4f53;} 
body{background:#fff;margin: 0;} 
a,a:hover{color:#333;} 
.f-cb:after{content: '.';display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;}

/* 不再提示样式 */
.u-notice{
	background: #f3f3f3;
	height: 36px;
	
}

.f-f1{
	width: 1206px;
	height: 36px;	
	margin: 0px auto;
	line-height: 36px;
	font-size: 13px;
}
.left-text{
	float: left;
}
.left-text a{
	color: green;
}
.left-text a:hover{
	text-decoration: underline;
}
.right-unnotice {
	float:right;
}
.right-unnotice span:before{
	display: inline-block;
	content: "";
	background-image: url(../img/icon.png);
	height: 18px;
	width: 18px;
	background-position: 0px 7px;
}
.right-unnotice span{
	font-size: 15px;
}
.right-unnotice span:hover:before{
	background-position: 0px -12px;
}

.right-unnotice span:hover{
	color: green;
	cursor: pointer;
}
/* 头部标题栏 */
.m-topBar{
	
}
.m-topBarContent{
	height: 90px;
	width: 1206px;
	margin: 0 auto;
	position: relative;
	
}
.u-conLeft{
	height:90px;	
	float: left;
	width: 800px;
}
.u-conLogo{
	width: 240px;
	height: 22px; 
	background:url(../img/logo.png);
	background-position:0 -7px;
	position: absolute;
	top: 34px;
	left:1px;
}
.u-conLogo:hover{
	background-position: 0 -49px;
}
/* 关注登录 */
.u-conAtten{
	position: absolute;	
	height: 19px;
	left: 290px;
	background: url(../img/icon.png) no-repeat;
	background-position: 0 -110px;
	border-radius: 4px;
	width: 52px;
	top: 35px;
	cursor: pointer; 
}
.u-conAtten:hover{
	background: url(../img/icon.png) no-repeat;
	background-position: 0 -382px;
}
.u-conAtten .userAtten{
	position: absolute;
	top: 3px;
	left: 22px;
}
.u-conAttened{	
	height: 22px;
	left: 290px;
	background: url(../img/icon.png) no-repeat;
	background-position: 0 -220px;
	border-radius: 4px;
	width: 150px;
	top: 35px;
	cursor: pointer;
	display: none;
	position: absolute; 
}
.u-conAttened:hover{
	background-position: 0 -157px;
}
.u-conAttened .userAttened{
	position: absolute;
	top: 3px;
	left: 27px;
}
.u-conAttened .cancel{
	position: absolute;
	top: 3px;
	left: 85px;
}
.u-conAttened .cancel:hover{
	color: green;
	text-decoration: underline;
}
.u-conFans{
	line-height: 89px;
	font-size: 13px;
	position: absolute;
	left: 360px;
}
.m-conNav{
	float:right;
	
}
.m-conNav li{
	display: inline-block;
	line-height: 90px;
	font-size: 16px;
	padding-right: 40px;

}
.m-conNav li a:hover{
	color: #21a557;
}
.m-conNav li:last-child{padding-right:60px;
}
.m-conSearch{
	background: url(../img/icon.png);
	position: absolute;
	top: 35px;
	right: 0;
	width: 25px;
	height: 22px;
	padding-left: 10px;
	background-position: 0 -46px;
	float: right;

}
.m-conSearch:hover{
	cursor: pointer;
	background-position: 0 -75px;
}
/* 登录框 */
.zoom{
	position: absolute;
	background: rgba(0,0,0,0.7);
	z-index: 11;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	display: none; 
}
.u-loginForm{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -195px;
	margin-top: -145px;
	width: 390px;
	height: 290px;
	border: 1px #ccc solid;
	background: #fff;
	z-index: 100;
	display: none;
}
._topicForm{
	display: block;
	line-height: 68px;
	padding-left: 40px;
	font-family: "微软雅黑";
	font-weight: 700;
	font-size: 18px;
}
._nameForm{
	  border: 1px  rgb( 223, 223, 223 ) solid;
	  background-color:#fafafa;
	  width: 293px;
	  height: 43px;
	  margin-left:40px;
	  padding-left: 14px;
	  box-shadow: 2px 2px 2px 2px  #f1f1f1 inset;
 }
 ._pswForm{
 		border: 1px  rgb( 223, 223, 223 ) solid;
	  background-color:#fafafa;
	  width: 293px;
	  height: 43px;
	  margin-left:40px;
	  margin-top: 20px;
	  padding-left: 14px;
	  box-shadow: 2px 2px 2px 2px  #f1f1f1 inset;
 }
._loginForm{
	display: block;
	position: absolute;
	width: 309px;
	height: 46px;
	background: url(../img/login.png) no-repeat;
	background-position: 0 0 ;
	border: 0;
	margin-left: 40px;
	margin-top: 20px;
	cursor: pointer;
	zoom: 1.04; 
}
._loginForm:hover{
	background-position: 0 -60px;
}
._loginForm:active{
	background-position: 0 -120px;
}
.cancelBtn{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 16px;
	background: url(../img/icon.png);
}
.cancelBtn:hover{
	background-position: 0 -19px;
}
/* 轮播图片 */
.m-slide{position:relative;height:460px;overflow:hidden;width:100%;
}
.m-slide li{
	position: absolute;
	left: 50%;
	width: 100%;
	min-width: 1650px;
}
.m-slide img{
	width: 100%;	
	min-height: 460px;
	margin-left: -50%;
}
/* 轮播控制按钮 */
.contBtn{
	position: absolute;
	bottom: 20px;
	width: 100%;
	height: 10px;
	text-align: center;
	z-index: 100px;
}
.contBtn span{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 11px;
	border-radius: 5px;
	background-color: #ccc;
	cursor: pointer;
}

.hide{display:none;
}
.active{
	display: block;
}
.contBtnCol{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background-color: #000;
	cursor: pointer;
}

/* 内容导航栏 */
.m-intro{
	position: relative;
	width: 1206px;
	height: 300px;
	margin: 0 auto;
}
.m-intro-f1{
	width: 400px;
	display: inline-block;
}
.m-intro-f2{
	width: 400px;
	display: inline-block;
}
.m-intro-f3{
	width: 400px;
	display: inline-block;
}
.m-intro-logo{
	display: inline-block;
	width: 82px;
	height: 82px;
	margin-top:67px;
	margin-left: 5px;
	background: url(../img/logo.png);
	background-position: 0 -90px;
	
}
.m-intro-topic{
	position: relative;
	left: 20px;
	top: -70px;
	display: inline-block; 
	font-size: 22px;
	font-family: "微软雅黑";
	font-weight:400;
}
.m-intro-cont{
	position: relative;
	width: 240px;
	height: 90px;
	left: 110px;
	top: -60px;
	font-size: 14px;
	line-height: 24px;
	font-family: "微软雅黑";
	color: #555;
}
.m-intro-more{
	display: inline-block;
	position: relative;
	left: 110px;
	top: -30px;
	width: 240px;
	font-size: 14px;
	line-height: 24px;
	font-family: "微软雅黑";
	color: green;
	cursor: pointer;
}
.m-intro-more a{
	color: green
}
.m-intro-more:hover{
	text-decoration: underline;
}
